[submodule "motion_capture_system"]
	path = motion_capture_system
	url = https://github.com/KumarRobotics/motion_capture_system.git
[submodule "crazyflie_ros"]
	path = crazyflie_ros
	url = https://github.com/whoenig/crazyflie_ros.git
[submodule "hector_quadrotor"]
	path = hector_quadrotor
	url = https://github.com/tu-darmstadt-ros-pkg/hector_quadrotor
