<launch>

  <node pkg="mocap_vicon"    type="mocap_vicon_node"
    name="vicon" output="screen">
    <param name="server_address" value="192.168.129.74"/>
    <param name="frame_rate" value="100"/>
    <param name="max_accel" value="10.0"/>
    <param name="publish_tf" value="true"/>
    <param name="fixed_frame_id" value="world"/>
    <rosparam param="model_list">[]</rosparam>
    <remap from="vicon/crazym01/odom" to="/crazym01/odom"/>
    <remap from="vicon/crazym02/odom" to="/crazym02/odom"/>
    <remap from="vicon/crazym03/odom" to="/crazym03/odom"/>
    <remap from="vicon/crazym04/odom" to="/crazym04/odom"/>
    <remap from="vicon/crazym05/odom" to="/crazym05/odom"/>
    <remap from="vicon/crazym06/odom" to="/crazym06/odom"/>
    <remap from="vicon/crazym07/odom" to="/crazym07/odom"/>
    <remap from="vicon/crazym08/odom" to="/crazym08/odom"/>
  </node>

</launch>
